@import url('https://fonts.googleapis.com/css?family=Raleway:200,400|Roboto');
.comment-container{
    padding:15px;
    background-color: whitesmoke ;
    min-height:40px;
    margin:10px;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    height:7%;
}