.IssuePage{
    margin-top:100px;
    width:100%;
    height:calc(100vh - 100px);
    display:flex;
    justify-content:space-evenly;
    align-items:center;

    div{
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction:column;
    }


    .main-parent{
        width:40%;
        height:calc(100% - 100px);
        box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
        margin: 30px;
        position: relative;

        .content-parent{
            width:100%;
            height:100%;
            position:relative;

            .main-parent_image{
                width:100%;
                position: absolute;
                top:0;
            }
    
            .main-parent_header{
                width:100%;
                height:90px;
                border-top:solid 1px rgb(65, 63, 63);
                color:red;
            }
        }
    }
    .comment-parent{
        position: relative;
        width:60%;
        height:calc(100% - 100px);
        // border:solid 1px black;
        margin: 30px;

        .emoji-picker{
            position: absolute;
            bottom:40px;
            right:0;
        }

        .tabs-parent{
            position: absolute;
            top:0;
            left:0;
            width:40%;
            height:40px;
            display:flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
    
            li{
                width:50%;
                margin-top:11px;
                height:78%;
                display: flex;
                align-items: center;
                justify-content: center;
                border:solid .5px rgb(172, 169, 169);
                border-radius:15px 15px 1px 1px;
            }

        
        }

        .divider{
            position: absolute;
            top:40px;
            margin: 0 !important;
            border:solid .5px rgb(172, 169, 169);
            width:95%;
        }
        .newComment-parent{
            position: absolute;
            bottom:0;
            left:0;
            height:40px;
            width:100%;
            background-color: rgb(97, 97, 230);
            display:flex;
            justify-content: center;
            align-items: center;

            .input-parent{
                width:95%;
                border-radius: 50px;
                border:solid 1px rgb(172, 169, 169);
                background-color: white;
                display:flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                input{
                    border:none;
                    width:75%;
                    background-color: white;
                    padding:5px;
                    margin-left:7px;
                }
                img{
                    margin-left:20%;
                }
            }
        }
    }
}

@media(max-width:600px){
    .IssuePage{
        flex-direction: column;
    }

    .main-parent{
        width:90vw !important;
        img{
            position:absolute;
            left:20px;
            margin-top:20px;
            height:40%;
            width:40% !important;
            z-index:-1;
            // border:solid 2px rgb(150, 65, 65);
            box-shadow: 0px 2px 4px rgba(2,2,2,.4);
        }
    }
    .comment-parent{
        width:90vw !important;
    }
}