.Contributions-parent__desktop, .Contributions-parent__mobile{
    margin-top:30px;
    margin-left:30px;
    margin-right:30px;
    margin-bottom:30px;
    height:100vh;
    width:100vw;
    position:relative;
    display:flex;
    justify-content:center;
    align-items: center;
}

.Contributions-parent__desktop__content-parent{
    height:100%;
    width:100%;
    // display:flex;
    // justify-content:space-evenly;
    // align-items: center;
}
.Contributions-parent__mobile__content-parent{
    height:100%;
    width:100%;
    margin-right:60px;
    flex-direction: column;
    justify-content: center;
    display:flex;
    align-items: center;
}
.Contributions-parent__desktop__Line-parent{
    z-index:-1;
    position:absolute;
    right:50px;
    top:183px;
    width:65vw;
    height:50%;
    min-width:400px;
    max-height:1100px;
    min-height:400px;
    border-top: 1px rgba(97, 97, 230, 0.74) solid;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
    animation:lineParent 2s;
    // display:flex;
    // justify-content: center;
    // align-items: center;
    object-fit: cover;
}
.Contributions-parent__desktop__personal-info-parent{
    position:fixed;
    bottom:30px;
    height:75%;
    width:30vw;
    max-width: 900px;
    min-width: 200px;
    max-height:1100px;
    min-height:500px;
    border-top: 1px rgba(97, 97, 230, 0.74) solid;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
    animation: personalInfo 1.5s;
}

// .Contributions-parent__desktop__personal-info-footer{
//     background-color: rgba(97, 97, 230, 0.74);
//     border-radius
//     height:7%;
//     width:100%;
//     bottom:0;
//     position: absolute;
// }

@keyframes personalInfo{
    0%{
        opacity:0;
        left:-350px;
    }
    100%{
        opacity:1;
        left:30px;
    }
}

@keyframes lineParent{
    0%{
        top: -1000px;
        opacity:0;
    }
    100%{
        opacity:1;
        top:183px;
    }
}

@media(max-width:1200px){
    .Contributions-parent__desktop__personal-info-parent{
        width:30%;
    }
    .Contributions-parent__desktop__Line-parent{
        width:65%;
    }
}
@media(max-width:990px){
    .Contributions-parent__desktop__personal-info-parent{
        width:30%;
    }
    .Contributions-parent__desktop__Line-parent{
        width:60%;
    }
}
@media(max-width:660px){
    .Contributions-parent__desktop__personal-info-parent{
        width:20%;
    }
    .Contributions-parent__desktop__Line-parent{
        width:25%;
    }
}